
/*.offcanvas .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
  }
 */   
  .navbar-toggler-icon {
    width: 1.3rem;
    height: 1.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
h1{
  font-family: 'Franklin Gothic Medium';
  font-size: 6vw;
  
}
.button1{
  font-size: 1rem;
  left: 1rem;
  background-color: transparent;
  position: absolute;
  margin: 1rem;
  font-family: 'Franklin Gothic Medium';
color: grey;
font-weight: 900;

  border-radius: .5rem;
  margin-right: .5rem;
  margin-left: .5rem;
  width: 4rem;
  display: flex;
  text-align: center;
  justify-content: center;
align-items: center;
  height: 2rem;
}
.button2{
  font-size: 1rem;
  right: 1rem;
  background-color: transparent;
  position: absolute;
  margin: 1rem;
  font-family: 'Franklin Gothic Medium';
color: grey;
font-weight: 900;
  border-radius: .5rem;
  margin-right: .5rem;
  margin-left: .5rem;
  width: 4rem;
  display: flex;
  text-align: center;
  justify-content: center;
align-items: center;
  height: 2rem;
}
.buybutton{
  margin: 1rem;
  font-family: 'Franklin Gothic Medium';
color: rgb(5, 4, 4);
font-weight: 900;
  border-radius: .5rem;
  margin-right: .5rem;
  margin-left: .5rem;
  width: 10rem;
  font-size: 1rem;
}
.button{
  right: 1.5rem;
  background-color: transparent;
  margin: 1rem;
  font-family: 'Franklin Gothic Medium';
color: grey;
font-weight: 900;
  border-radius: .5rem;
  margin-right: .5rem;
  margin-left: .5rem;
  width: 8rem;
  display: flex;
  text-align: center;
  justify-content: center;
align-items: center;
  height: 2rem;
}
.ContactMe{
  margin-top: 1rem;
}
.archives{
  margin-top: 6rem;
  height: screen;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.archives3{
  height: screen;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
select{margin: 1rem;}
.printOptions{
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.archives1{
  box-shadow: 5px 10px 10px 5px;;
  max-width: 100%;
  object-fit: contain;
 
 width: 20rem;
}


.stickytop{
  display: none;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(197, 189, 189) 0%,
    rgb(126, 120, 120) 99.4%
   
);
}
.galleryimg{
  box-shadow: 5px 10px 10px 5px;;
  display: block;
  width: 100%;
  margin-top: 1.25rem;

}
.GalleryHeaders1{
  text-decoration: none;
  cursor: pointer;
  position: relative;
  bottom: -10rem;
}
.GalleryHeaders{
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
a{
  font-size: 2rem;
  
  color: rgb(255, 255, 255);
}
.Hero{
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  display: flex;
}

.flexcol{
  display: flex;
  flex-direction: column;
}
.Collapsible__trigger{
  color: cadetblue;
  margin-left: 2rem;
  font-size: 2.5rem;
}
.aboutme{
  margin-right: 8rem;
  border-bottom: dotted;
  color: cadetblue;
  margin-left: 2rem;
  font-size: 1.5rem;
  margin-left: 2rem;
}
.flex{
  display: flex;
  justify-content: space-around;
}
  .portrait{
    box-shadow: 0px 0px 12px 2px ;
    margin-bottom: 1rem;
    padding: 1rem;
    margin-left: 15px;
   object-fit: scale-down;
    border-radius: 50%;
  max-width:  15rem;
  max-height: 15rem;  
  margin-top: 3rem;
  }
  .navlinks{
    text-decoration: none;
color: rgb(255, 255, 255);
  }
  a{
    text-decoration: none;
    cursor: pointer;
  }
/*//////////treats css /////////*/
.Grid-treats{
  margin-top: 1rem;
  text-align: center;
  }
  .Grid-treats > div {
   margin-top: 1rem;
  columns: 3;
   gap: 1.5rem;
   padding: 1rem;
   }
   
   .Grid-treats img {
     
    
     display: block;
     width: 100%;
     margin-top: 1.25rem;
      }
      @media (max-width:70rem) {
        .Grid-treats > div {
          columns: 2;
           gap: 1.5rem;
           }
       }  
       @media (max-width:32rem) {
        .Grid-treats > div {
          columns: 1;
           gap: 1.5rem;
           }}
/*//////////treats end css /////////*/
.Slides{
  padding: 1rem;
 }
 .Grid-wrapper{
 margin-top: 1rem;
 text-align: center;
 }
 .Grid-wrapper > div {
  margin-top: 1rem;
 columns: 3;
  gap: 1.5rem;
  padding: 1rem;
  }
 
  .Grid-wrapper img {
    
    box-shadow: 5px 10px 10px 5px;;
    display: block;
    width: 100%;
    margin-top: 1.25rem;
     }
     .Grid-wrapper2{
      margin-top: 1rem;
      text-align: center;
      }
      .Grid-wrapper2 > div {
       margin-top: 1rem;
      columns: 3;
       gap: 1.5rem;
       padding: 1rem;
       }
      
       .Grid-wrapper2 img {
         
         box-shadow: 5px 10px 10px 5px;;
         display: block;
         width: 100%;
         margin-top: 1.25rem;
          }
          
   @media (max-width:70rem) {
    .Grid-wrapper > div {
      columns: 2;
       gap: 1.5rem;
       }
   }  
   @media (max-width:32rem) {
    .Grid-wrapper > div {
      columns: 1;
       gap: 1.5rem;
       }
   }  
   .borderland{
    border-top-style: solid;
    border-width: 1px;
  border-color: antiquewhite;}
  .landscape{
    object-fit: scale-down;
    border-color: rgb(34, 36, 35);
    box-shadow: 5px 10px 10px 10px;
    margin-bottom: 2rem;
    background-color: rgb(204, 216, 216);
   max-width: 100%;
    position: relative;
   
  }
  .TreeContainer{
    padding: 1rem;
    max-width: 35rem;
  }
  .navbarfull{
    display: flex;
    justify-content: space-around;
    background: radial-gradient(
      circle at 24.1% 68.8%,
      rgb(197, 189, 189) 0%,
      rgb(126, 120, 120) 99.4%
     
  );
  }
  .FullnavlinksTitle{
  font-family: 'Franklin Gothic Medium';
  color: #000000;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  }
  .Fullnavlinks{
    margin-top: .3rem;
    font-family: 'Franklin Gothic Medium';
    color: #000000;
    font-size: 1.5rem;
  }
  .NavbarTitle{
    font-size: 2rem;
    height: 3rem;
    font-family: Bona Nova SC;
  }
  .portraitBio{
    font-family: Bona Nova SC;
    position: relative;
    bottom: 10;
    padding: 1rem;
    max-width: 30rem;
  }
.Banner{
  text-align: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.Collapsable{
text-align: center;
background-color: bisque;
font-size: 2rem;
}
.BannerImg{
    flex: 1 0 ;
    flex-shrink: 0;
    flex-grow: 1;
     width: 25rem; 
     height: 18rem;
    padding-top: 0;
 
  object-fit: cover;
    margin-bottom: 1rem;
    max-width: 100%;
}
.backgroundimage{
  background-color: rgba(255, 255, 255, 0.774);
  background-blend-mode: lighten;
  color: #000000;
  background-repeat: no-repeat;
  background-size: 25rem 40rem;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
);

  object-fit: contain;
  width: 100%;
}
.BannerImg1{
  max-width: 100%;
  flex: 1 0 ;
    flex-shrink: 0;
    flex-grow: 1;
    padding-top: 0;
    
  object-fit: scale-down;
    margin-bottom: 1rem;
    background-size: contain;
    background-size: cover;

    background-image: url('../src/lowrezimages/goodfox.jpeg');
}
.bannerlink{
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none; 
  color: aliceblue;}
.bannerText{
  background-color: bisque;
  text-align: center;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.ContactMe{
  background-color: white;

  height: 20rem;

}
.GalleryLinks {
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  border-style: solid;
  background: "yellow";
  display: "block"
}
.GalleryTitle{
  font-family: 'Montserrat';

}
.Galleries{
  font-size: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 1024px) {


.stickytop{
  display: block;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(197, 189, 189) 0%,
    rgb(126, 120, 120) 99.4%
   
);
}
  .Galleries{
    line-height: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .navbarfull{
    
    display: none;
    justify-content: space-around;
  }
  .Banner{
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: black;
  }
  .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
  @media screen and (max-width: 1024px) {
    .flex{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }